h1{
    color: rgb(0, 0, 0);
    font-size: x-large;
  }
  p{
      color: black;

  }
  a{
    color: red;
    text-decoration: none;
    padding: 10px 20px;
    background-color: lightgray;
    overflow: hidden;
    display: inline-block;
    box-shadow: inset 3px 3px 5px rgba(225,225,225);
    transition: all 0.2s ease-in-out;
    border: 1px solid rgb(191, 190, 190);
  }
  a:hover{
    text-decoration: underline;
  }
  #sidebar{
    width: 250px;
    height: 100%;
    position: fixed;
    top: 62px;
    left: 0;
    text-decoration: none;
    background-color: lightgrey;
  }
  #active{
    background-color: lightgray;
    text-decoration: none;
    box-shadow: inset 3px 3px 5px rgba(163, 163, 163, 0.3);
  }

  #sidebar a{
    display: block;
    padding: 15px;
  }
  #sidebar a:hover {
    background-color: lightgray;
    text-decoration: none;
    box-shadow: inset 3px 3px 5px rgba(163, 163, 163, 0.3);
  }
  #content{
    margin-top: 62px; 
    margin-left: 260px;
    padding: 20px;
  }
body{
    background-color:cadetblue;
}
input{
  background-color: rgb(253, 252, 174);
  color: black;
  width: 250px;
}
#Butt{
  background-color: lightgray;
}
#title{
  position: fixed;
  left: 0px;
  top: 0px;
  background-color: rgb(208, 207, 207);
  margin: 0px;
  border: 0px;
  padding: 0 25px;
  height: 62px;
  width: 100%;
  padding-right: 137vh;
  font-family: "Grechen Fuemen", serif;
  box-shadow: inset 3px 3px 5px rgb(234, 234, 234);
  box-shadow: 1px 1px 3px rgb(95, 95, 95);
}
