h1{
    color: rgb(0, 0, 0);
    font-size: x-large;
    
  }
  p{
      color: black;

  }
  a{
    color: blue;
    text-decoration: none;
    padding: 10px 20px;
    background-color: lightgray;
    font-family: "Grechen Fuemen", serif;
    overflow: hidden;
    display: inline-block;
    box-shadow: inset 3px 3px 5px rgba(225,225,225);
    transition: all 0.2s ease-in-out;
    border: 1px solid rgb(191, 190, 190);
  }
  a:hover{
    text-decoration: underline;
  }
  #sidebar{
    width: 250px;
    height: 100%;
    position: fixed;
    top: 62px;
    left: 0;
    text-decoration: none;
    background-color: lightgrey;
  }
  #active{
    background-color: lightgray;
    text-decoration: none;
    box-shadow: inset 3px 3px 5px rgba(163, 163, 163, 0.3);
  }

  #sidebar a{
    display: block;
    padding: 15px;
  }
  #sidebar a:hover {
    background-color: rgb(255, 255, 255);
    text-decoration: none;
    box-shadow: inset 3px 3px 5px rgba(163, 163, 163, 0.3);
  }
  #content{
    margin-top: 62px; 
    margin-left: 260px;
    padding: 20px;
  }
body{
    background-color: white;
}
input{
  background-color: rgb(253, 252, 174);
  color: black;
  width: 250px;
}
#Butt{
  background-color: lightgray;
}
#title{
  position: fixed;
  left: 0px;
  top: 0px;
  background-color: rgb(208, 207, 207);
  margin: 0px;
  border: 0px;
  padding: 0 25px;
  height: 62px;
  width: 100%;
  padding-right: 137vh;
  font-family: "Grechen Fuemen", serif;
  box-shadow: inset 3px 3px 5px rgb(234, 234, 234);
  box-shadow: 1px 1px 3px rgb(95, 95, 95);
}
#frank{
  position: relative;
  left: 400px;
  background-color: lightgray;
  padding: 50px;
  font-size: xx-large;
  font-family: "Grechen Fuemen", serif;;
  color:red;
}
#info{
  text-align: center;
  font-family: monospace;
  font-size: large;
}






/*this next part of the code is for my tic tac toe board and is incredbily boring and repetitive*/
#a1a{
  position:fixed;
  top: 375px;
  left: 300px;
}
#ttubA1{
  position:fixed;
  top: 375px;
  left: 570px;
}
#ttubA1o{
  position:fixed;
  top: 375px;
  left: 700px;
}
#b1b{
  position:fixed;
  top: 400px;
  left: 300px;
}
#ttubB1{
  position:fixed;
  top: 400px;
  left: 570px;
}
#ttubB1o{
  position:fixed;
  top: 400px;
  left: 700px;
}
#c1c{
  position:fixed;
  top: 425px;
  left: 300px;
}
#ttubC1{
  position:fixed;
  top: 425px;
  left: 570px;
}
#ttubC1o{
  position:fixed;
  top: 425px;
  left: 700px;
}
#a2a{
  position:fixed;
  top: 375px;
  left: 350px;
}
#ttubA2{
  position:fixed;
  top: 375px;
  left: 600px;
}
#ttubA2o{
  position:fixed;
  top: 375px;
  left: 730px;
}
#b2b{
  position:fixed;
  top: 400px;
  left: 350px;
}
#ttubB2{
  position:fixed;
  top: 400px;
  left: 600px;
}
#ttubB2o{
  position:fixed;
  top: 400px;
  left: 730px;
}
#c2c{
  position:fixed;
  top: 425px;
  left: 350px;
}
#ttubC2{
  position:fixed;
  top: 425px;
  left: 600px;
}
#ttubC2o{
  position:fixed;
  top: 425px;
  left: 730px;
}
#a3a{
  position:fixed;
  top: 375px;
  left: 400px;
}
#ttubA3{
  position:fixed;
  top: 375px;
  left: 630px;
}
#ttubA3o{
  position:fixed;
  top: 375px;
  left: 760px;
}
#b3b{
  position:fixed;
  top: 400px;
  left: 400px;
}
#ttubB3{
  position:fixed;
  top: 400px;
  left: 630px;
}
#ttubB3o{
  position:fixed;
  top: 400px;
  left: 760px;
}
#c3c{
  position:fixed;
  top: 425px;
  left: 400px;
}
#ttubC3{
  position:fixed;
  top: 425px;
  left: 630px;
}
#ttubC3o{
  position:fixed;
  top: 425px;
  left: 760px;
}
/*Here my tic tac toe CSS ends and the rest of my code is less boring*/
table{
  position: relative;
  top: 25px;
  left: 350px;
  border: 1px solid black;
  margin-left: auto;
  margin-right: auto;
  background-color: lightgrey;
  border-radius: 4px;
}
#swerans { 
  padding: 10px 30px; 
  font-size: 24px; 
  font-weight: bold; 
  border: none; 
  border-radius: 5px; 
  border: 2px solid rgb(0, 0, 0); 
} 
#calcbutt{
  width: 100%; 
  padding: 10px 40px; 
  background-color: rgb(0, 185, 252); 
  color: white; 
  font-size: 24px; 
  border-radius: 4px; 
}